@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
*{
	font-family: "Roboto" sans-serif;
}
body{
		padding: 0;
	background-color: #000;
}
.ba-wrapper{
	max-width: 1600px;
	margin:0 auto;
	&__section1{
 		min-height: 100vh;
 		background: url(../img/1bg.png) no-repeat;
	}
	&__section2{
		background-color: #1B2A2C;
		height: 70px;
		padding-top: 15px;
	}
	&__section4{
		background-color: #F2F2F1;
	}
	&__section5{
		background-color: #fff;
	}
	&__section8{
		background-color: #1B2A2C;
	}
	&__section9{
		background-color: #0E191B;
	}
}
.ba-section__first{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	h1{
		font-size: 60px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		width: 825px;
		text-align: center;
	}
	a{
		line-height: 50px;
		width: 180px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		border: 2px solid #fff;
		text-transform: uppercase;
		text-decoration: none;
		&:hover{
			background-color: #f00;
		}
	}
}

.ba-section__nav{
	h1{
		margin: 0;
		color: #fff;
		font-size: 30px;
		font-weight: bold;
		float: left;
		.f{
			display: inline-block;
			height: 45px;
			width: 45px;
			background-color: #455355;
			color: #fff;
			font-size: 35px;
			text-align: center;
			padding-top: 2px;
			margin-right: 20px;			
		}
		.cal{
			color: #2ecc71;
		}	
	}
	&--list{
		float: right;
		li{
			display: inline;
			list-style: none;
			margin-left: 40px;
			a{
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				
				text-transform: uppercase;
				font-weight: bold;
				&:hover{
					color: #2ecc71;
				}

			}
		}
	}
}
.ba-section__three{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 90px 0;
	h2{
		font-size: 30px;
		font-weight: bold;
		color: #566366;

	}
	p{
		font-size: 18px;
		color: #566366;
		font-weight: 400;

	}
	&--one &--two &--three{
		flex-basis: 380px;
		margin: 0 10px;
	}
}

.ba-section__about{
	display: grid;
	grid-template-columns: 400px 70px 65px 335px 65px 255px;
	grid-template-rows: 400px 150px 210px; 
	&--huge{
		grid-row: 1/4;
		grid-column: 1/2;
	}
	&--middle{
		grid-row: 1/2;
		grid-column: 3/7;
		padding-top: 90px;
		h2{
			font-size: 30px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
		}
	}
	&--small1img{
		grid-row: 2/3;
		grid-column: 3/4;
		padding-top: 25px;
		
	}
	&--small1{
		grid-row: 2/3;
		grid-column: 4/5;
		h2{
			font-size: 22px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
		}

	}
	&--small2img{
		grid-row: 2/3;
		grid-column: 5/6;
		padding-top: 25px;

	}
	&--small2{
		grid-row: 2/3;
		grid-column: 6/7;
		h2{
			font-size: 22px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
		}
	}
	&--small3img{
		grid-row: 3/4;
		grid-column: 3/4;
		padding-top: 25px;

	}
	&--small3{
		grid-row: 3/4;
		grid-column: 4/5;
		h2{
			font-size: 22px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
		}
	}
	&--small4img{
		grid-row: 3/4;
		grid-column: 5/6;
		padding-top: 25px;

	}
	&--small4{
		grid-row: 3/4;
		grid-column: 6/7;
		h2{
			font-size: 22px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
		}
	}
}
.ba-section__skills{
	display: flex;
	justify-content: space-between;
	min-height: 620px;
	
	padding-bottom: 95px;
	&--left{
		flex-basis: 620px;
		h2{
		font-size: 30px;
		font-weight: bold;
		color: #566366;
		margin-bottom: 45px;
		}
		p{
		font-size: 18px;
		color: #566366;
		font-weight: 400;
		line-height: 30px;
		}
		a{
			text-decoration: none;
			color: #2ecc71;
			width: 185px;
			line-height: 50px;
			font-size: 18px;
			border: 2px solid #2ecc71;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			margin-top: 40px;
			&:hover{
				background-color: #f00;
			}
		}
	}	
	&--right{
		flex-basis: 560px;
		padding-top: 85px;

		h3{
			font-size: 22px;
			font-weight: bold;
			color: #566366;
			text-transform: uppercase;
		}
		.gray_line{
			height: 30px;
			width: 540px;
			background-color: #F2F2F1;
			.green_line1{
				width: 520px;
				background-color: #00CD6B;
				color: #fff;
				text-align: right;
				display: inline-block;
				height: 30px;
			}
			.green_line2{
				width: 480px;
				background-color: #00CD6B;
				color: #fff;
				text-align: right;
				display: inline-block;
				height: 30px;
			}
			.green_line3{
				width: 360px;
				background-color: #00CD6B;
				color: #fff;
				text-align: right;
				display: inline-block;
				height: 30px;
			}	

		}
	}
}
		
.ba-section__resume{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 420px;
	h2{
		font-size: 30px;
		font-weight: bold;
		color: #566366;
		margin-bottom: 45px;
		}
	p{
			font-size: 18px;
			color: #566366;
			font-weight: 400;
			line-height: 30px;
			text-align: center;
		}
	a{
			text-decoration: none;
			color: #2ecc71;
			width: 220px;
			line-height: 50px;
			font-size: 18px;
			border: 2px solid #2ecc71;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			margin-top: 40px;
			&:hover{
				background-color: #f00;
			}
	}
}
.ba-section__portfolio{
	display: grid;
	grid-template-columns: 380px 380px 380px ;
	grid-template-rows: 300px 300px 300px; 
	grid-gap: 20px 40px;
	padding-bottom: 100px;
	&--first{
		grid-row: 1/2;
		grid-column: 1/2;
		background-color: #1A282A;
		a{
			text-decoration: none;
			h3{
				font-size: 18px;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 35px;
				padding-top: 20px;
			}
			.all{
				color: #fff;
			}
			li{
				list-style: none;
				color: #919191;
				font-size: 18px;
				font-weight: 400;
				line-height: 30px;
			}
		}
		&:hover{
			background-color: #00A056;
			opacity: 0.7;
		}
	}
	&--second{
		grid-row: 1/2;
		grid-column: 2/3;
		a:hover{
 			opacity: 0.7;
		}
	}
	&--third{
		grid-row: 1/2;
		grid-column: 3/4;
		a:hover{
 			opacity: 0.7;
		}
	}
	&--four{
		grid-row: 2/3;
		grid-column: 1/2;
		a:hover{
 			opacity: 0.7;
		}
	}
	&--five{
		grid-row: 2/3;
		grid-column: 2/3;
		a:hover{
 			opacity: 0.7;
		}		
	}
	&--six{
		grid-row: 2/3;
		grid-column: 3/4;
		a:hover{
 			opacity: 0.7;
		}
	}
	&--seven{
		grid-row: 3/4;
		grid-column: 1/2;
		a:hover{
 			opacity: 0.7;
		}
	}
	&--eight{
		grid-row: 3/4;
		grid-column: 2/3;
		a:hover{
 			opacity: 0.7;
		}		
	}
	&--nine{
		grid-row: 3/4;
		grid-column: 3/4;
		a:hover{
 			opacity: 0.7;
		}
	}	
}
.ba-section__contacts{
	display: flex;
	flex-direction: row;
	padding-top: 85px;
	padding-bottom: 100px;
	&--left{
		flex-basis: 630px;
		h2{
			font-size: 30px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
		}
		p{
			font-size: 18px;
			color: #919191;
			font-weight: 400;
			margin-top: 25px;
			span{
				color: #fff;
				display: inline-block;
				margin-right: 40px;
			}
		}
	}
	&--right{
		flex-basis: 550px;
		h4{
			color: #fff;
			font-weight: 400;
			text-transform: capitalize;
			font-size: 18px;	
		}
		.input1{
			width: 540px;
			height: 60px;
			background-color: #455355;
			outline: none;
			border: none;
		}
		.area{
			height: 280px;
			width: 540px;
			background-color: #455355;
			outline: none;
			border: none;
		}
		a{
		 text-decoration: none;
			color: #fff;
			width: 185px;
			line-height: 50px;
			font-size: 18px;
			background-color: #0E191B;
			text-transform: uppercase;
			display: inline-block;
			text-align: center;
			margin-top: 40px;
			&:hover{
				background-color: #f00;
			}
		}
	}
}	
.ba-section__footer{
	min-height: 185px;
	padding-top: 45px;
	p{
		font-size: 14px;
		font-weight: 500;
		color: #4b5456;
		text-align: center;
	}
	.icons{
	text-align: center;
	margin-top: 25px;
		a{
			text-decoration: none;
			color: #0E191B;
			font-size: 14px;
			border-radius: 50%;
			background-color: #455355;
			display: inline-block;
			width: 35px;
			height: 35px;
			text-align: center;
			padding-top: 10px;
			margin-right: 8px;
			&:hover{
				color: #fff;
			}
		}
	}
}
// #icon1{
// 	width: 40px;
// 	height: 40px;
// 	fill: #00CD6B;
// }
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
